# Auto detect text files and perform LF normalization
* text eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.dcm binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtp  diff=astextplain
*.RTP  diff=astextplain